<p style="text-align: center; font-size: 28px; font-weight: bold;">CIND 123</p>
<p style="text-align: center; font-size: 24px; font-weight: bold;">Data Analytics: Basic Methods</p>
<p style="text-align: center; font-size: 24px; font-weight: bold;">Assignment 1 (10%)</p>

**Yinghao Li**  
**CIND123 501342626**

<p style="text-align: center; font-size: 20px; font-weight: bold;">Instructions</p>
 
This assignment can be submitted using either Python or R, whichever you prefer.

- **If using R**, you must submit an RMD file with its knitted file (PDF or HTML). To learn more about knitting and R markdown, visit [R Markdown](http://rmarkdown.rstudio.com).
- **If using Python**, you must submit an IPYNB file and its exported PDF/HTML with clearly printed/shown answers.

Failing to submit both files ({RMD + knitted PDF/HTML} OR {IPYNB + PDF/HTML}) will be subject to a 30% mark deduction.

**NOTE:** IF YOU USE `R STUDIO`, YOU SHOULD NEVER HAVE `install.packages` IN YOUR CODE; OTHERWISE, THE `Knit` OPTION WILL RAISE AN ERROR. COMMENT OUT ALL PACKAGE INSTALLATIONS BUT KEEP `library()` CALLS.

**NOTE:** If you answer the questions in R, all your answers should be in R (ignore Python questions). If you answer the questions in Python, all your answers should be in Python (ignore R questions). You are not allowed to switch languages in this assignment.

<p style="font-size: 24px; font-weight: bold;">Question 1 (50 points)</p>

<p style="font-size: 20px; font-weight: bold;">Q1a (15 points)</p>

Create and print a vector `x` (or list in Python) with all odd numbers from 5 to 120 and a vector `y` containing multiples of 5 in the same range.

**HINT:** use `seq()` in R or `range()` in Python.

In [2]:
x = list(range(5, 121, 2))
print(x)
y = list(range(5, 121, 5))
print(y)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120]

Calculate the sum of the lengths of the vectors `x` and `y`.

**HINT:** use `length()` in R or `len()` in Python.

In [4]:
sum_lengths = len(x)+len(y)
print(sum_lengths)

82
58
24

<p style="font-size: 20px; font-weight: bold;">Q1b (15 points)</p>

Create a new vector (or list in Python), `y_cube`, with the cube of elements at indices 2, 4, 6, 10, 15, 18, 21, and 25 from the variable `y`.

**HINT:** Use indexing rather than a for loop.

In [17]:
print(y)
# y only contains 24 elements, and in python list the index starts from 0 so remove 'y**[24]**3' to avoid error
y_cube = [y[1]**3, y[3]**3, y[5]**3, y[9]**3, y[14]**3, y[17]**3, y[20]**3]
print(y_cube)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120]
[1000, 8000, 27000, 125000, 421875, 729000, 1157625]

Calculate the mean and median of the LAST five values from `y_cube`.

In [26]:
import statistics
y_mean = statistics.mean(y_cube[-5:])
print(y_mean)
y_median = statistics.median(y_cube[-5:])
print(y_median)

492100
421875

<p style="font-size: 20px; font-weight: bold;">Q1c (10 points)</p>

For a given factor variable

`factorVar <- factor(c("2.5", "7.1", "6.3", "4.8"))` in `R` or

`factorVar = ["2.5", "7.1", "6.3", "4.8"]` in `Python`, 

would it be correct to use the following commands to convert factor to number?

`as.numeric(factorVar)` in R or `map(float, factorVar)` in Python.

If not, explain your answer and provide the correct one.

In [27]:
# Explain it in plain text. If you think it is not correct, what is the correct one?
'''In Python, map(float, factorVar) is the correct way of converting factor to number, map function accepts two arguments:
a function and an iterable, float is a function which turns an object into float, and the second iterator is the object. The
complete code to convert factor to number is as follow:
'''
factorVar = ["2.5", "7.1", "6.3", "4.8"]
list_factorVar = list(map(float, factorVar))
print(list_factorVar)

[2.5, 7.1, 6.3, 4.8]

<p style="font-size: 20px; font-weight: bold;">Q1d (10 points)</p>

A comma-separated values file `dataset.csv` consists of missing values represented by Not A Number (null) and question mark (?). Read this type of file in R or Python and preprocess the missing values.

**NOTE:** Please ensure you have saved the `dataset.csv` file in your current working directory.

In [39]:
dataset = "D:\\Ryerson Big Data Certificate\\CIND123-Data Analytics Basic Methods\\Assignment1\\dataset.csv"
with open(dataset, mode='r') as file:
    data = file.readlines()
    for row in data:
        print(row)
file.close()

1,2,3,4,5,6,7,8,9,10

11,12,13,14,15,16,17,18,19,20

21,22,23,24,25,26,27,28,29,30

31,32,33,34,35,36,37,38,39,40

41,42,43,44,45,?,47,48,49,50

51,52,53,?,55,56,57,null,59,60

61,62,63,64,65,66,67,68,69,70

71,72,?,74,75,76,77,78,79,80

81,82,83,84,85,86,87,88,89,?

91,92,93,94,95,96,97,98,99,100

null,102,103,104,105,106,107,108,109,110

111,112,113,114,115,116,117,118,119,120

121,122,123,124,125,126,127,128,129,130

131,132,133,134,135,136,137,138,139,null

141,142,143,144,145,146,147,148,149,150

151,152,153,154,155,156,157,158,159,160

161,162,163,164,null,166,167,168,169,170

Print the head of the file to ensure everything is correct. **DO NOT** print the whole file.

In [46]:
print(data[0])

1,2,3,4,5,6,7,8,9,10

<p style="font-size: 24px; font-weight: bold;">Question 2 (50 points)</p>

<p style="font-size: 20px; font-weight: bold;">Q2a (15 points)</p>
Compute: $$\sum_{n=4}^{25}\frac{(-1)^{n+1}}{(2n+1)!}$$

**HINT:** Use `factorial(n)` in R or `math.factorial(n)` in Python to compute $n!$.

<p style="font-size: 20px; font-weight: bold;">Q2b (15 points)</p>
Compute: $$\prod_{n=2}^{6} \left(3n + \frac{2}{3^n} \right)$$

**NOTE:** The symbol $\Pi$ represents multiplication.

<p style="font-size: 18px; font-weight: bold;">Q2a and Q2b Guidance</p>
For Q2a and Q2b, you'll need to apply basic mathematical concepts in R or Python. If you understand how to code in R or Python and the basic math operations (like factorial, powers, sums, and products), you're all set!

Example for Understanding:
Let's start with a simpler example:
Compute the sum of the first 5 square numbers. In mathematical terms, this is:

$$\sum_{n=1}^{5}{(n)^{2}}$$

which translates to $1^2+2^2+3^2+4^2+5^2$.

In R, you could solve this by:

```r
numbers <- 1:5          # Create a vector of numbers 1 to 5
squared_numbers <- numbers^2  # Square each element of the vector
sum_squares <- sum(squared_numbers)  # Sum up the squared numbers
print(sum_squares)
```

In Python, you could solve this by:

```python
numbers = range(1, 6)  # Create a list of numbers from 1 to 5
squared_numbers = [n**2 for n in numbers]  # Square each element of the list
sum_squares = sum(squared_numbers)  # Sum up the squared numbers
print(sum_squares)
```


Now, come back to Q2a and Q2b. Your task in those questions is similar. You'll use loops to iterate over a range of numbers, applying the specified mathematical operations at each step. Remember to use built-in functions like `factorial()`, `sum()`, and `prod()` in R, or `math.factorial()`, `sum()`, and `math.prod()` in Python when needed.

In [47]:
# Q2a
import math

numbers = range(4, 26)
factorial = [(-1)**(n+1)/math.factorial(2*n+1) for n in numbers]
sum_value = sum(factorial)
print(sum_value)

-2.730839642538399e-06

In [48]:
# Q2b
numbers = range(2, 7)
result = 1
for n in numbers:
    product = 3*n+(2/(3**n))
    result *= product
print(result)

183438.2754736432

<p style="font-size: 20px; font-weight: bold;">Q2c (10 points)</p>

Describe what the following R command does:
`rep(1:3, each = 2)`

**NOTE:** If you answer the questions in Python, provide an equivalent command and explain its behavior.

In [49]:
'''
In R, rep() is a replication function which will replicate the vector inside it for a number of times,
1:3 means 1, 2, 3, each = 2 means replicate 2 times,
so the final output will be: 1 1 2 2 3 3.
The equivalent command in python is:
'''
import itertools

result = list(itertools.chain.from_iterable(itertools.repeat(item, 2) for item in range(1, 4)))
print(result)

[1, 1, 2, 2, 3, 3]

<p style="font-size: 20px; font-weight: bold;">Q2d (10 points)</p>

Describe the purpose of `is.logical()`, `is.character()`, `is.numeric()`, and `is.na()` functions in R. 

In Python, describe the purpose of `isinstance()`, `type()`, and `pd.isna()` functions from the pandas library. 

Please use `x <- c("a", FALSE, "b", NA, 2, TRUE)` in R or `x = ["a", False, "b", None, 2, True]` in Python to explain your description.

In [65]:
''' 
is.logical(): checkes whether an object is a logical type, logical type represents TRUE FALSE values,
is.character(): checkes whether an object is a character type, character type represents text values,
is.numeric(): checks whether an object is a numeric type, numeric type represents number values,
is.na(): checks whether an object is NA, NA represents null value or missing value.
'''

'''
isinstance(object, class): checks whether a certain object is an instance of certain class, 
type(object): checks the type of the object, returns back the object type,
pd.isna(object): checks whether the object is a missing value. 
for example:
'''
import pandas as pd

x = ["a", False, "b", None, 2, True]
print(isinstance(x, list))
print("=========================")
for item in x:
    if isinstance(item, str):
        print("string!!")
    elif isinstance(item, bool):
        print("boolen!!")
    elif isinstance(item, int):
        print("Integer!!")
    elif item is None:
        print("None!!")
print("=========================")
for item in x:
    print("type: {}".format(type(item)))
print("=========================")
for item in x:
    print(pd.isna(item))

True
=========================
string!!
boolen!!
string!!
None!!
Integer!!
boolen!!
=========================
type: <class 'str'>
type: <class 'bool'>
type: <class 'str'>
type: <class 'NoneType'>
type: <class 'int'>
type: <class 'bool'>
=========================
False
False
False
True
False
False